.heading {
  min-height: 44px;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table :global(tr) {
  height: 43px;
}

.label {
  max-width: 0;
}

.value {
  width: 190px;
}

.valueText {
  display: block;
  overflow: hidden;
  font-variant-numeric: tabular-nums;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 430px) {
  .value {
    width: 45%;
  }

  .label {
    width: 55%;
  }

  .valueText {
    font-size: 11px;
  }
}
